name: Publish to NPM

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write # id-token 的权限是必须的
      packages: write
      contents: write
      issues: write
      pull-requests: write

    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - uses: pnpm/action-setup@v4
        with:
          version: latest

      - uses: actions/setup-node@v5
        with:
          node-version: "lts/*"
          cache: pnpm

      - run: pnpm install
      - run: pnpm build

      - env:
          GITHUB_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: pnpm publish
